@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Roboto:ital,wght@0,500;1,400&display=swap');

var them {
    --themecolor: 788778;
}

.navbar {
    background-color: #788778;
    position: fixed;
}

.navimage {
    background-image: url('nav-image.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.text-light {
    height: 400px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.section2 {
    padding: 100px;
    font-family: "Google Sans" Roboto (woff2) arial sans-serif;
    height: 300px;
}
.text-center{
    height: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    padding: 50px;
}

.Logos {
    height:350px ;
    padding: 10px;
    background-color: #788778;
    color: white;    
}
:root {
    --green: #6ed198;
  }
.Logos b {
    color: #6ed198;
}
.col {
    margin: 30px;
    
}
.logo{
    width: 95px;
    height: 95px;
}
.section4 {
    height: 400px ;
}
.section5 div{
    height: 700px;
    padding: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    background:url('https://source.unsplash.com/900x900/?mountain,tree');
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    animation: slider 1s infinite linear;
}
  
@media only screen and (max-width: 900px) {
    .Logos {
      padding: 10px;
      text-align: left;
    }
    .section2 {
        padding: 10px;
      }
      .slide{
  
          padding: 20px;   
          text-align:center;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
      }
  
  }
  @media only screen and (max-width: 300px) {
    .section2 {
      padding: 5px;
    }
    .slide{

        padding: 10px;   
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
  }
